Cython>=0.22
pystan==2.19.1.1
prophet==1.1.1
plotly==5.5.0
streamlit==1.29.0
click==8
pandas>=1.0.4
requests>=2.31.0
datetime~=4.4
holidays==0.24
pytz>=2022.5
spyder==5.5.0
yahooquery==2.3.7
